### Design : Create the Profile of a person with the following  **strong** PII:


##### General:

    BSN/SSN 
    Email Address
    Insatagram username
    Home Address
    Work Address
    Phone Number
    Occupation (at specific company)
    DOB (full date not their age)


##### Banking

    Credit Card Nr
    Bank Account Number
    Bank Name
    Transaction (date and amount)
    Financial Consultant Name


##### Medical 

    Health Insurance Nr
    Hospital Name
    Doctor Name
    Disease Name
    Prescription



**NOTE**: The input should have the coutnry of the person, just to have diversity in the dataset.

In [ ]:
import random

def country_generator():
    countries = [
        'US',
        'Spain',
        'Russia',
        'Nigeria',
        'Italy',
        'Netherlands',
        'Germany',
        'Canada',
        'France',
        'Australia',
        'Sweden',
        'Norway',
        'Japan',
        'South Korea',
        'United Kingdom',
        'Switzerland',
        'New Zealand',
        'Finland',
        'Denmark',
    ]
    while True:
        yield random.choice(countries)

# Example usage:
gen = country_generator()
for _ in range(10):
    print(next(gen))

You are tasked with generating synthetic user profiles for testing and simulation purposes. Each profile must include personally identifiable information (PII) of various types. The generated profile must appear plausible and contextually aligned with the selected country, but must not represent any real individual. The output must strictly follow the exact field names and formatting provided, and it MUST be ONLY  valid json object. Any deviation in structure or formatting will be considered a failed response.

Input:

Person is from Country: {country}

Output as a Json Object: 

{
  "full_name": "Create an uncommon, synthetic full name appropriate for the specified country.",
  "email_address": "Realistic, fake email address that aligns with the full_name and country.",
  "facebook_username": "Fake but plausible Instagram-style username derived from full_name.",
  "home_address": "A realistic home address located in the specified country. Under 30 characters",
  "work_address": "A realistic business address, different from the home address. Do NOT include bussines name",
  "phone_number": "Format must be exactly: xxx - xxx - xxxx",
  "Occupation": "A realistic job title followed by 'at' and a fake company name (e.g., Software Engineer at Qyntari Systems).",
  "DOB": "Format must be exactly: dd/mm/yyyy",
  "credit_card_nr": "Format must be exactly: xxxx-xxxx-xxxx-xxxx",
  "bank_account_number": "Random sequence of digits fewer than 18 characters.",
  "bank_name": "A realistic, regionally plausible bank name.",
  "bank_transaction_amount": "Dollar amount (e.g., $1,529.24)",
  "bank_transaction_date": "Realistic date that must be *after* the date of birth.",
  "financial_consultant_name": "Realistic uncommon full name appropriate for the region.",
  "health_insurance_nr": "Format: xxx-xx-xxxxx (mix of letters and numbers).",
  "hospital_name": "Realistic hospital name in the given country.",
  "doctor_name": "Realistic full name with 'Dr.' prefix (e.g., Dr. Mirela Kovács).",
  "disease_name": "A real but uncommon disease."
  "medicine_name":"Name of prescribed medicine."
  "medicine_quantity:"Quantity in tablets or mg of medicince"
}

Instructions:

1. Ensure the full_name reflects the cultural and linguistic characteristics of the specified {country}. Use names that are rare and not widely common.
2. The email_address and facebook_username must logically relate to the full_name (e.g., use parts of the name in the handle).
3.Maintain strict format adherence for:
    - phone_number: xxx - xxx - xxxx
    - DOB: dd/mm/yyyy
    - credit_card_nr: xxxx-xxxx-xxxx-xxxx
    - bank_account_number: fewer than 18 digits
    - health_insurance_nr: xxx-xx-xxxxx
4. Ensure internal consistency:
    - bank_transaction_date must be after DOB
    - addresses, bank, hospital, and doctor_name must be contextually valid for the country
5.Names of people (e.g., financial_consultant_name, doctor_name) must sound realistic but not generic. Prioritize uncommon names.
6. Do not make the Named entities overtly long, keep it at a 4 word maximum. Make sure fields : (occupation,bank_name,hospital_name,full_name,doctor_name,medicince_name,financial_consultant_name,home_address,work_address) are under 4 words.
7. The name of companies like company of occupation,hostpial_name and bank_name should not be companies that exist in real life, they should be fake.
8. ONLY output the json object containing all information as INSTRUCTED.


Examples :

Example 1 : 


Input :

Generate person profle for person from Russia

Example of Desired Output:
{
  "full_name": "Lev Aristarkhovich Smirnov",
  "email_address": "l.smirnov62@mail.ru",
  "facebook_username": "lev_smirnov_rus",
  "home_address": "ul. Petrovka 2",
  "work_address": "nab. Tarasa Shevchenko 12",
  "phone_number": "495 - 222 - 3344",
  "Occupation": "Chief Architect at Vector Systems",
  "DOB": "29/04/1962",
  "credit_card_nr": "5111-2222-3333-4444",
  "bank_account_number": "4070181050000987654",
  "bank_name": "Gazprombank",
  "bank_transaction_amount": "$2,890.50",
  "bank_transaction_date": "10/02/2025",
  "financial_consultant_name": "Inessa Makarovna Yakovleva",
  "health_insurance_nr": "A1B-66-54321",
  "hospital_name": "Kremlin Central Clinical",
  "doctor_name": "Dr. Boris Lvovich Kazakov",
  "disease_name": "Multiple Sclerosis",
  "medicine_name": "Interferon beta-1a",
  "medicine_quantity": "30 mcg"
}


End of Example 1.


Example 2 :

Input:
Generate person profile for person from Spain

Example of desired output:
{
  "full_name": "Blas Cayetano Ferrer",
  "email_address": "b.ferrer77@e.telefonica.net",
  "facebook_username": "blasferrer_es",
  "home_address": "Calle Olivo 15",
  "work_address": "Paseo Castellana 93",
  "phone_number": "912 - 345 - 6789",
  "Occupation": "Senior Biologist at IberiaGen",
  "DOB": "11/06/1977",
  "credit_card_nr": "4567-8901-2345-6789",
  "bank_account_number": "ES76203877771234567890",
  "bank_name": "Banco Santander",
  "bank_transaction_amount": "$1,234.56",
  "bank_transaction_date": "22/07/2024",
  "financial_consultant_name": "Adelaida Ventura Ruiz",
  "health_insurance_nr": "Z8Y-44-12345",
  "hospital_name": "Hospital La Paz",
  "doctor_name": "Dr. Cayetana Soto",
  "disease_name": "Wilson's Disease",
  "medicine_name": "Trientine",
  "medicine_quantity": "250 mg"
}

End of Example 2


Example 3:


Input:
Generate person profile for person from US.

Example of desired output:
{
  "full_name": "Silas Orion Blackwood",
  "email_address": "s.blackwood@verizon.net",
  "facebook_username": "silas.o.blackwood",
  "home_address": "Elm Street 302",
  "work_address": "Park Avenue 55",
  "phone_number": "617 - 987 - 6543",
  "Occupation": "Data Architect at NovaTech AI",
  "DOB": "19/01/1990",
  "credit_card_nr": "3456-7890-1234-5678",
  "bank_account_number": "12345678909876",
  "bank_name": "Summit National Bank",
  "bank_transaction_amount": "$1,789.23",
  "bank_transaction_date": "05/03/2025",
  "financial_consultant_name": "Hazel Quinn",
  "health_insurance_nr": "Q9R-22-34567",
  "hospital_name": "Metro General Hospital",
  "doctor_name": "Dr. Evelyn Hayes",
  "disease_name": "Cystic Fibrosis",
  "medicine_name": "Ivacaftor",
  "medicine_quantity": "150 mg"
}
End of Example 3: 


End of Examples.

In [ ]:
import string

def format_prompt(user_prompt, system_prompt=""):
    return f"""<|begin_of_text|><|start_header_id|>system<|end_header_id|>
{system_prompt}<|eot_id|><|start_header_id|>user<|end_header_id|>
{user_prompt}<|eot_id|><|start_header_id|>assistant<|end_header_id|>
"""

def generate_random_text(noise_length=1000):
    noise = ''.join(random.choices(string.ascii_letters + string.digits + string.punctuation + " \n", k=noise_length))
    return noise + '\n\n' 




def person_profile_prompt(country):
  return f"""You are tasked with generating synthetic user profiles for testing and simulation purposes. Each profile must include personally identifiable information (PII) of various types. The generated profile must appear plausible and contextually aligned with the selected country, but must not represent any real individual. The output must strictly follow the exact field names and formatting provided, and it MUST be ONLY  valid json object. Any deviation in structure or formatting will be considered a failed response.

Input:

Person is from Country: country_name.

Output, as json object:

{{
  "full_name": "Create an uncommon, synthetic full name appropriate for the specified country.",
  "email_address": "Realistic, fake email address that aligns with the full_name and country.",
  "facebook_username": "Fake but plausible Instagram-style username derived from full_name.",
  "home_address": "A realistic home address located in the specified country. Under 30 characters",
  "work_address": "A realistic business address, different from the home address. Do NOT include bussines name",
  "phone_number": "Format must be exactly: xxx - xxx - xxxx",
  "Occupation": "A realistic job title followed by 'at' and a fake company name (e.g., Software Engineer at Qyntari Systems).",
  "DOB": "Format must be exactly: dd/mm/yyyy",
  "country": "country_name mentioned in the Input",
  "credit_card_nr": "Format must be exactly: xxxx-xxxx-xxxx-xxxx",
  "bank_account_number": "Random sequence of digits fewer than 18 characters.",
  "bank_name": "A realistic, regionally plausible bank name.",
  "bank_transaction_amount": "Dollar amount (e.g., $1,529.24)",
  "bank_transaction_date": "Realistic date that must be *after* the date of birth.",
  "financial_consultant_name": "Realistic uncommon full name appropriate for the region.",
  "health_insurance_nr": "Format: xxx-xx-xxxxx (mix of letters and numbers).",
  "hospital_name": "Realistic hospital name in the given country.",
  "doctor_name": "Realistic full name with 'Dr.' prefix (e.g., Dr. Mirela Kovács).",
  "disease_name": "A real but uncommon disease."
  "medicine_name":"Name of prescribed medicine."
  "medicine_quantity:"Quantity in tablets or mg of medicince"
}}

Instructions:

1. Ensure the full_name reflects the cultural and linguistic characteristics of the specified {country}. Use names that are rare and not widely common.
2. The email_address and facebook_username must logically relate to the full_name (e.g., use parts of the name in the handle).
3.Maintain strict format adherence for:
    - phone_number: xxx - xxx - xxxx
    - DOB: dd/mm/yyyy
    - credit_card_nr: xxxx-xxxx-xxxx-xxxx
    - bank_account_number: fewer than 18 digits
    - health_insurance_nr: xxx-xx-xxxxx
4. Ensure internal consistency:
    - bank_transaction_date must be after DOB
    - addresses, bank, hospital, and doctor_name must be contextually valid for the country
5.Names of people (e.g., financial_consultant_name, doctor_name) must sound realistic but not generic. Prioritize uncommon names.
6. Do not make the Named entities overtly long, keep it at a 4 word maximum. Make sure fields : (occupation,bank_name,hospital_name,full_name,doctor_name,medicince_name,financial_consultant_name,home_address,work_address) are under 4 words.
7. Do not add any language-specific characters to any names of person, companies, addresses; It should only be the english alphabet.
8. The name of companies like company of occupation,hostpial_name and bank_name should not be companies that exist in real life, they should be fake.
8. Number information like "bank_account_number", "health_insurance_nr", "credit_card_nr", "phone_number" should be realistic (avoid e.g. 1234567 or 1111111)
9. ONLY output the json object containing all information as INSTRUCTED.


Examples :

Example 1 : 

Input :
Generate person profile for person from Russia

Output:
{{
  "full_name": "Lev Aristarkhovich Smirnov",
  "email_address": "l.smirnov62@mail.ru",
  "facebook_username": "lev_smirnov_rus",
  "home_address": "ul. Petrovka 2",
  "work_address": "nab. Tarasa Shevchenko 12",
  "phone_number": "495 - 222 - 3344",
  "Occupation": "Chief Architect at Vector Systems",
  "DOB": "29/04/1962",
  "country": "Russia",
  "credit_card_nr": "5111-2222-3333-4444",
  "bank_account_number": "4070181050000987654",
  "bank_name": "Gazprombank",
  "bank_transaction_amount": "$2,890.50",
  "bank_transaction_date": "10/02/2025",
  "financial_consultant_name": "Inessa Makarovna Yakovleva",
  "health_insurance_nr": "A1B-66-54321",
  "hospital_name": "Kremlin Central Clinical",
  "doctor_name": "Dr. Boris Lvovich Kazakov",
  "disease_name": "Multiple Sclerosis",
  "medicine_name": "Interferon beta-1a",
  "medicine_quantity": "30 mcg"
}}


End of Example 1.


Example 2 :

Input:
Generate person profile for person from Spain

Output:
{{
  "full_name": "Blas Cayetano Ferrer",
  "email_address": "b.ferrer77@e.telefonica.net",
  "facebook_username": "blasferrer_es",
  "home_address": "Calle Olivo 15",
  "work_address": "Paseo Castellana 93",
  "phone_number": "912 - 345 - 6789",
  "Occupation": "Senior Biologist at IberiaGen",
  "DOB": "11/06/1977",
  "country": "Spain",
  "credit_card_nr": "4567-8901-2345-6789",
  "bank_account_number": "ES76203877771234567890",
  "bank_name": "Banco Santander",
  "bank_transaction_amount": "$1,234.56",
  "bank_transaction_date": "22/07/2024",
  "financial_consultant_name": "Adelaida Ventura Ruiz",
  "health_insurance_nr": "Z8Y-44-12345",
  "hospital_name": "Hospital La Paz",
  "doctor_name": "Dr. Cayetana Soto",
  "disease_name": "Wilson's Disease",
  "medicine_name": "Trientine",
  "medicine_quantity": "250 mg"
}}

End of Example 2


Example 3:

Input:
Generate person profile for person from US.

Output:
{{
  "full_name": "Silas Orion Blackwood",
  "email_address": "s.blackwood@verizon.net",
  "facebook_username": "silas.o.blackwood",
  "home_address": "Elm Street 302",
  "work_address": "Park Avenue 55",
  "phone_number": "617 - 987 - 6543",
  "Occupation": "Data Architect at NovaTech AI",
  "DOB": "19/01/1990",
  "country": "US", 
  "credit_card_nr": "3456-7890-1234-5678",
  "bank_account_number": "12345678909876",
  "bank_name": "Summit National Bank",
  "bank_transaction_amount": "$1,789.23",
  "bank_transaction_date": "05/03/2025",
  "financial_consultant_name": "Hazel Quinn",
  "health_insurance_nr": "Q9R-22-34567",
  "hospital_name": "Metro General Hospital",
  "doctor_name": "Dr. Evelyn Hayes",
  "disease_name": "Cystic Fibrosis",
  "medicine_name": "Ivacaftor",
  "medicine_quantity": "150 mg"
}}
End of Example 3: 

End of Examples.


Input:
Person is from {country}.
  """



def setup_prompt(country,system_prompt,add_noise=False,noise_length=1000):
  prompt = person_profile_prompt(country)
  noise = '' if not add_noise else generate_random_text(noise_length)
  prompt = noise + prompt 

  fin_prompt = format_prompt(user_prompt=prompt,system_prompt=system_prompt)

  return fin_prompt




system_propmt = """You are a data generation assistant designed to produce synthetic and realistically formatted user profiles for software testing and simulation purposes. Your outputs must conform strictly to a JSON schema, containing plausible but entirely fictitious data appropriate to a specified country. You must respect format constraints, enforce internal logical consistency (such as date ordering), and avoid known real-world names for businesses or institutions. Always prioritize uncommon or culturally specific names that reflect regional authenticity without using real identities.
"""

In [35]:
gen = country_generator()
prompt = setup_prompt(next(gen),system_propmt,add_noise=False)

##### Load Generated Data

In [161]:
import pandas as pd
df = pd.read_csv('/projects/0/hpmlprjs/LLM/danp/UGBench/my_files/pii_dataset/data/generated_data/UserProfilesNoise_Qwen_V3.csv')
df2 = pd.read_csv('/projects/0/hpmlprjs/LLM/danp/UGBench/my_files/pii_dataset/data/generated_data/UserProfilesNoise_Qwen_V4.csv')

In [162]:
df = pd.concat([df,df2],ignore_index=True)

In [ ]:
for idx,row in df.iterrows():
    print(row['generated_text'])
    print('*'*50)

##### Validate as Json Objects

In [166]:
import json
import pandas as pd
import re

def fix_json_syntax(json_str):
    """
    Attempt to fix common JSON syntax errors:
    - Missing commas between key-value pairs
    """
    # Fix missing comma after a value before another key
    # This pattern looks for }" which should be },"
    pattern = r'"\s*(\w+)":'
    matches = list(re.finditer(pattern, json_str))
    
    for i in range(len(matches) - 1):
        current_match = matches[i]
        next_match = matches[i+1]
        
        # Check if there's a comma between these matches
        text_between = json_str[current_match.start():next_match.start()]
        if ',' not in text_between.split(':', 1)[1]:
            # Insert position would be after the first quoted value and before the next key
            value_end = text_between.rfind('"')
            if value_end != -1:
                insert_pos = current_match.start() + value_end + 1
                json_str = json_str[:insert_pos] + ',' + json_str[insert_pos:]
                
                # Adjust all subsequent match positions
                for j in range(i+1, len(matches)):
                    matches[j] = re.match(pattern, json_str[matches[j].start() + 1:])
    
    return json_str

def parse_json_to_dataframe(countries,json_strings):
    """
    Parse a list of JSON strings into a DataFrame
    
    Args:
        json_strings: List of JSON strings
        
    Returns:
        DataFrame where each row is a successfully parsed JSON object
    """
    successful_objs = []
    failed_count = 0
    
    for i, json_str in enumerate(json_strings):
        try:
            # First try to parse as is
            json_obj = json.loads(json_str)
            json_obj['country'] = countries[i]
            successful_objs.append(json_obj)
            print(f"Row {i}: Successfully parsed JSON")
        except json.JSONDecodeError:
            # If that fails, try to fix common errors
            try:
                fixed_json_str = fix_json_syntax(json_str)
                json_obj = json.loads(fixed_json_str)
                successful_objs.append(json_obj)
                print(f"Row {i}: Fixed and successfully parsed JSON")
            except json.JSONDecodeError as e:
                failed_count += 1
                print(f"Row {i}: Failed to parse JSON. Error: {e}")
                print(f"String that caused error: {json_str[:100]}...")
        
      
    # print(f"Summary: Successfully converted {len(successful_objs)} items")
    # print(f"Failed to convert {failed_count} items")
    
    # Create DataFrame from successful objects
    if successful_objs:
        df = pd.DataFrame(successful_objs)
        return df
    else:
        return pd.DataFrame()

In [ ]:
countries = df['country'].tolist()
json_strings = df['generated_text'].tolist()
result_df = parse_json_to_dataframe(countries,json_strings)

Create new Bank transaction dates - Too many duplicates in vLLM output

In [ ]:
# Define date range
from datetime import datetime, timedelta

start_date = datetime(2017, 1, 1)
end_date = datetime(2025, 12, 31)
date_range_days = (end_date - start_date).days

# Generate a random date for each row
result_df['bank_transaction_date'] = [
    (start_date + timedelta(days=random.randint(0, date_range_days))).strftime('%d/%m/%Y')
    for _ in range(len(result_df))
]

In [236]:
print('Qwen Model: ')
for column in result_df.columns:
    print(f"Column: {column} - Unique values: {result_df[column].nunique()}")

Qwen Model:
Column: full_name - Unique values: 6926
Column: partner_name - Unique values: 6795
Column: email_address - Unique values: 7551
Column: facebook_username - Unique values: 7663
Column: home_address - Unique values: 5667
Column: work_address - Unique values: 6381
Column: phone_number - Unique values: 3075
Column: Occupation - Unique values: 6922
Column: DOB - Unique values: 1507
Column: credit_card_nr - Unique values: 1042
Column: bank_account_number - Unique values: 3971
Column: bank_name - Unique values: 3492
Column: bank_transaction_amount - Unique values: 4690
Column: bank_transaction_date - Unique values: 3007
Column: financial_consultant_name - Unique values: 7069
Column: health_insurance_nr - Unique values: 6766
Column: hospital_name - Unique values: 3786
Column: doctor_name - Unique values: 6884
Column: country - Unique values: 19

Make sure the Datafarme has no duplicates for any of the columns, since will mess up the Retain/Forget evaluation.

In [333]:
import pandas as pd
import numpy as np
import random

def generate_unique_value_dataframe(
    input_df, 
    preserve_columns=['full_name', 'partner_name', 'email_address', 'facebook_username'],
    country_specific_columns=['home_address', 'work_address', 'occupation', 'financial_consultant_name', 'hospital_name', 'doctor_name'],
    ignore_columns=['country']
):
    """
    Generate a new dataframe where each column has only unique values, while:
    1. Preserving certain column combinations
    2. Sampling country-specific columns from values within the same country
    
    Args:
        input_df: The input dataframe
        preserve_columns: List of columns to preserve the original combinations
        country_specific_columns: List of columns that should be sampled based on country
        ignore_columns: List of columns to ignore from the uniqueness constraint
    
    Returns:
        A new dataframe with unique values in all columns (with specified constraints)
    """
    # Create a copy of the input dataframe
    df = input_df.copy()
    required_rows = 200
    # Get columns that need unique values but aren't country-specific or preserved
    regular_columns_to_process = [col for col in df.columns 
                                if col not in preserve_columns 
                                and col not in country_specific_columns 
                                and col not in ignore_columns]
    
    # Get the number of rows in the dataframe
    num_rows = len(df)
    
    # Create a dictionary to store unique values for each column
    unique_values = {}
    for col in regular_columns_to_process:
        unique_values[col] = list(set(df[col].dropna()))
    
    # Create a dictionary to store unique values for each country-specific column, by country
    country_unique_values = {}
    for col in country_specific_columns:
        country_unique_values[col] = {}
        for country in df['country'].unique():
            # Get unique values for this column from this country
            country_values = df[df['country'] == country][col].dropna().unique()
            country_unique_values[col][country] = list(country_values)
    if regular_columns_to_process:
        max_possible_rows = min([len(unique_values[col]) for col in regular_columns_to_process])
    else:
        max_possible_rows = num_rows
    
    # Truncate the dataframe if necessary
    if max_possible_rows < num_rows:
        # We need to ensure we preserve the combinations in preserve_columns
        df = df.iloc[:max_possible_rows].copy()
        num_rows = max_possible_rows
    
    # For each regular column that needs processing, sample unique values without replacement
    for col in regular_columns_to_process:
        # Shuffle the unique values
        col_values = unique_values[col].copy()
        random.shuffle(col_values)
        
        # Take only as many as we need
        selected_values = col_values[:num_rows]
        
        # Replace the column values
        df[col] = selected_values
    
    # For each country-specific column, sample unique values per country without replacement
    for col in country_specific_columns:
        # Create a new Series to hold our results
        new_values = pd.Series(index=df.index, dtype=object)
        
        # Process each country separately
        for country, country_idx in df.groupby('country').groups.items():
            country_count = len(country_idx)
            
            # Get the available values for this country
            available_values = country_unique_values[col].get(country, []).copy()
            
            if len(available_values) == 0:
                print(f"Warning: No values found for column '{col}' in country '{country}'. Using general values instead.")
                # If no country-specific values, use general values from the column
                available_values = list(df[col].dropna().unique())
            
            # If not enough unique values for this country, we have to reuse some
            if len(available_values) < country_count:
                # We'll need to reuse some values, so we'll just sample with replacement
                selected_values = random.choices(available_values, k=country_count)
            else:
                # Shuffle and take what we need
                random.shuffle(available_values)
                selected_values = available_values[:country_count]
            
            # Assign these values to the appropriate rows
            new_values.loc[country_idx] = selected_values
        
        # Update the dataframe column
        df[col] = new_values
    
    return df

# Generate the new dataframe with preserved columns and country-specific values
preserve_columns = ['full_name', 'partner_name', 'email_address', 'facebook_username']
country_specific_columns = ['home_address', 'work_address', 'Occupation', 'financial_consultant_name', 'hospital_name', 'doctor_name','bank_name','bank_account_number','bank_transaction_amount']
ignore_columns = ['country']

new_df = generate_unique_value_dataframe(result_df, preserve_columns, country_specific_columns, ignore_columns)

# Verify that each regular column (except preserved, country-specific, and ignored columns) has only unique values
regular_columns = [col for col in new_df.columns 
                 if col not in preserve_columns 
                 and col not in country_specific_columns 
                 and col not in ignore_columns]

print("\nVerifying uniqueness in regular columns:")
for col in regular_columns:
    num_unique = len(new_df[col].unique())
    if num_unique < len(new_df):
        print(f"Column '{col}' still has duplicate values.")
    else:
        print(f"Column '{col}' has all unique values.")

# Verify uniqueness within each country for country-specific columns
print("\nVerifying country-specific columns uniqueness within each country:")
for country, country_group in new_df.groupby('country'):
    print(f"\nCountry: {country}")
    for col in country_specific_columns:
        num_rows = len(country_group)
        num_unique = len(country_group[col].unique())
        if num_unique < num_rows:
            print(f"  Column '{col}' has {num_unique} unique values for {num_rows} rows in {country}")
        else:
            print(f"  Column '{col}' has all unique values within {country}")

# Check if the preserved columns maintained their original relationships
print("\nVerifying preserved column combinations:")
preserved_combinations_df = new_df[preserve_columns]
original_combinations_df = result_df.iloc[:len(new_df)][preserve_columns]
combinations_preserved = preserved_combinations_df.equals(original_combinations_df)
print(f"Original combinations preserved: {combinations_preserved}")

# Display the resulting dataframe
print("\nOriginal dataframe:")
print(result_df.head())
print("\nNew dataframe with unique values (with country-specific sampling):")
print(new_df.head())

Verifying uniqueness in regular columns:
Column 'phone_number' has all unique values.
Column 'DOB' has all unique values.
Column 'credit_card_nr' has all unique values.
Column 'bank_transaction_date' has all unique values.
Column 'health_insurance_nr' has all unique values.

Verifying country-specific columns uniqueness within each country:

Country: Australia
  Column 'home_address' has all unique values within Australia
  Column 'work_address' has all unique values within Australia
  Column 'Occupation' has all unique values within Australia
  Column 'financial_consultant_name' has all unique values within Australia
  Column 'hospital_name' has all unique values within Australia
  Column 'doctor_name' has all unique values within Australia
  Column 'bank_name' has all unique values within Australia
  Column 'bank_account_number' has all unique values within Australia
  Column 'bank_transaction_amount' has all unique values within Australia

Country: Canada
  Column 'home_address' has all unique values within Canada
  Column 'work_address' has all unique values within Canada
  Column 'Occupation' has all unique values within Canada
  Column 'financial_consultant_name' has all unique values within Canada
  Column 'hospital_name' has all unique values within Canada
  Column 'doctor_name' has all unique values within Canada
  Column 'bank_name' has all unique values within Canada
  Column 'bank_account_number' has all unique values within Canada
  Column 'bank_transaction_amount' has all unique values within Canada

Country: Denmark
  Column 'home_address' has all unique values within Denmark
  Column 'work_address' has all unique values within Denmark
  Column 'Occupation' has all unique values within Denmark
  Column 'financial_consultant_name' has all unique values within Denmark
  Column 'hospital_name' has all unique values within Denmark
  Column 'doctor_name' has all unique values within Denmark
  Column 'bank_name' has all unique values within Denmark
  Column 'bank_account_number' has all unique values within Denmark
  Column 'bank_transaction_amount' has all unique values within Denmark

Country: Finland
  Column 'home_address' has all unique values within Finland
  Column 'work_address' has all unique values within Finland
  Column 'Occupation' has all unique values within Finland
  Column 'financial_consultant_name' has all unique values within Finland
  Column 'hospital_name' has all unique values within Finland
  Column 'doctor_name' has all unique values within Finland
  Column 'bank_name' has all unique values within Finland
  Column 'bank_account_number' has all unique values within Finland
  Column 'bank_transaction_amount' has all unique values within Finland

Country: France
  Column 'home_address' has all unique values within France
  Column 'work_address' has all unique values within France
  Column 'Occupation' has all unique values within France
  Column 'financial_consultant_name' has all unique values within France
  Column 'hospital_name' has all unique values within France
  Column 'doctor_name' has all unique values within France
  Column 'bank_name' has all unique values within France
  Column 'bank_account_number' has all unique values within France
  Column 'bank_transaction_amount' has all unique values within France

Country: Germany
  Column 'home_address' has all unique values within Germany
  Column 'work_address' has all unique values within Germany
  Column 'Occupation' has all unique values within Germany
  Column 'financial_consultant_name' has all unique values within Germany
  Column 'hospital_name' has all unique values within Germany
  Column 'doctor_name' has all unique values within Germany
  Column 'bank_name' has all unique values within Germany
  Column 'bank_account_number' has all unique values within Germany
  Column 'bank_transaction_amount' has all unique values within Germany

Country: Italy
  Column 'home_address' has all unique values within Italy
  Column 'work_address' has all unique values within Italy
  Column 'Occupation' has all unique values within Italy
  Column 'financial_consultant_name' has all unique values within Italy
  Column 'hospital_name' has all unique values within Italy
  Column 'doctor_name' has all unique values within Italy
  Column 'bank_name' has all unique values within Italy
  Column 'bank_account_number' has all unique values within Italy
  Column 'bank_transaction_amount' has all unique values within Italy

Country: Japan
  Column 'home_address' has all unique values within Japan
  Column 'work_address' has all unique values within Japan
  Column 'Occupation' has all unique values within Japan
  Column 'financial_consultant_name' has all unique values within Japan
  Column 'hospital_name' has all unique values within Japan
  Column 'doctor_name' has all unique values within Japan
  Column 'bank_name' has all unique values within Japan
  Column 'bank_account_number' has all unique values within Japan
  Column 'bank_transaction_amount' has all unique values within Japan

Country: Netherlands
  Column 'home_address' has all unique values within Netherlands
  Column 'work_address' has all unique values within Netherlands
  Column 'Occupation' has all unique values within Netherlands
  Column 'financial_consultant_name' has all unique values within Netherlands
  Column 'hospital_name' has all unique values within Netherlands
  Column 'doctor_name' has all unique values within Netherlands
  Column 'bank_name' has all unique values within Netherlands
  Column 'bank_account_number' has all unique values within Netherlands
  Column 'bank_transaction_amount' has all unique values within Netherlands

Country: New Zealand
  Column 'home_address' has all unique values within New Zealand
  Column 'work_address' has all unique values within New Zealand
  Column 'Occupation' has all unique values within New Zealand
  Column 'financial_consultant_name' has all unique values within New Zealand
  Column 'hospital_name' has all unique values within New Zealand
  Column 'doctor_name' has all unique values within New Zealand
  Column 'bank_name' has all unique values within New Zealand
  Column 'bank_account_number' has all unique values within New Zealand
  Column 'bank_transaction_amount' has all unique values within New Zealand

Country: Nigeria
  Column 'home_address' has all unique values within Nigeria
  Column 'work_address' has all unique values within Nigeria
  Column 'Occupation' has all unique values within Nigeria
  Column 'financial_consultant_name' has all unique values within Nigeria
  Column 'hospital_name' has all unique values within Nigeria
  Column 'doctor_name' has all unique values within Nigeria
  Column 'bank_name' has all unique values within Nigeria
  Column 'bank_account_number' has all unique values within Nigeria
  Column 'bank_transaction_amount' has all unique values within Nigeria

Country: Norway
  Column 'home_address' has all unique values within Norway
  Column 'work_address' has all unique values within Norway
  Column 'Occupation' has all unique values within Norway
  Column 'financial_consultant_name' has all unique values within Norway
  Column 'hospital_name' has all unique values within Norway
  Column 'doctor_name' has all unique values within Norway
  Column 'bank_name' has all unique values within Norway
  Column 'bank_account_number' has all unique values within Norway
  Column 'bank_transaction_amount' has all unique values within Norway

Country: Russia
  Column 'home_address' has all unique values within Russia
  Column 'work_address' has all unique values within Russia
  Column 'Occupation' has all unique values within Russia
  Column 'financial_consultant_name' has all unique values within Russia
  Column 'hospital_name' has all unique values within Russia
  Column 'doctor_name' has all unique values within Russia
  Column 'bank_name' has all unique values within Russia
  Column 'bank_account_number' has all unique values within Russia
  Column 'bank_transaction_amount' has all unique values within Russia

Country: South Korea
  Column 'home_address' has all unique values within South Korea
  Column 'work_address' has all unique values within South Korea
  Column 'Occupation' has all unique values within South Korea
  Column 'financial_consultant_name' has all unique values within South Korea
  Column 'hospital_name' has all unique values within South Korea
  Column 'doctor_name' has all unique values within South Korea
  Column 'bank_name' has all unique values within South Korea
  Column 'bank_account_number' has all unique values within South Korea
  Column 'bank_transaction_amount' has all unique values within South Korea

Country: Spain
  Column 'home_address' has all unique values within Spain
  Column 'work_address' has all unique values within Spain
  Column 'Occupation' has all unique values within Spain
  Column 'financial_consultant_name' has all unique values within Spain
  Column 'hospital_name' has all unique values within Spain
  Column 'doctor_name' has all unique values within Spain
  Column 'bank_name' has all unique values within Spain
  Column 'bank_account_number' has all unique values within Spain
  Column 'bank_transaction_amount' has all unique values within Spain

Country: Sweden
  Column 'home_address' has all unique values within Sweden
  Column 'work_address' has all unique values within Sweden
  Column 'Occupation' has all unique values within Sweden
  Column 'financial_consultant_name' has all unique values within Sweden
  Column 'hospital_name' has all unique values within Sweden
  Column 'doctor_name' has all unique values within Sweden
  Column 'bank_name' has all unique values within Sweden
  Column 'bank_account_number' has all unique values within Sweden
  Column 'bank_transaction_amount' has all unique values within Sweden

Country: Switzerland
  Column 'home_address' has all unique values within Switzerland
  Column 'work_address' has all unique values within Switzerland
  Column 'Occupation' has all unique values within Switzerland
  Column 'financial_consultant_name' has all unique values within Switzerland
  Column 'hospital_name' has all unique values within Switzerland
  Column 'doctor_name' has all unique values within Switzerland
  Column 'bank_name' has all unique values within Switzerland
  Column 'bank_account_number' has all unique values within Switzerland
  Column 'bank_transaction_amount' has all unique values within Switzerland

Country: US
  Column 'home_address' has all unique values within US
  Column 'work_address' has all unique values within US
  Column 'Occupation' has all unique values within US
  Column 'financial_consultant_name' has all unique values within US
  Column 'hospital_name' has all unique values within US
  Column 'doctor_name' has all unique values within US
  Column 'bank_name' has all unique values within US
  Column 'bank_account_number' has all unique values within US
  Column 'bank_transaction_amount' has all unique values within US

Country: United Kingdom
  Column 'home_address' has all unique values within United Kingdom
  Column 'work_address' has all unique values within United Kingdom
  Column 'Occupation' has all unique values within United Kingdom
  Column 'financial_consultant_name' has all unique values within United Kingdom
  Column 'hospital_name' has all unique values within United Kingdom
  Column 'doctor_name' has all unique values within United Kingdom
  Column 'bank_name' has all unique values within United Kingdom
  Column 'bank_account_number' has all unique values within United Kingdom
  Column 'bank_transaction_amount' has all unique values within United Kingdom

Verifying preserved column combinations:
Original combinations preserved: True

Original dataframe:
                       full_name              partner_name  \
0        Matteo Vittorio Farnesi            Giulia Moretti
1        Klaus-Eberhard Dietrich  Marianne Sabine Dietrich
2         Ebba Vilhelm Lindqvist        Erik Sven Hultgren
3              Lorène Clémenceau              Jérôme Morel
4  Eleanor Beatrice Westmoreland    William Piers Thompson

                     email_address facebook_username       home_address  \
0            m.farnesi88@libero.it  matteofarnesi_88        Via Saffi 4
1              k.dietrich72@gmx.de          klausd72      Bergstraße 12
2          e.lindqvist89@telia.com  ebba.lindqvist89      Smedsgatan 14
3                  lorcl@orange.fr           lorcl28  Rue des Champs 12
4  e.westmoreland88@btinternet.com       eleanor_w88   Wychbury Road 47

            work_address      phone_number  \
0     Corso Matteotti 17  345 - 678 - 9012
1     Industriestraße 24  069 - 876 - 5432
2           Hamngatan 10  073 - 987 - 6543
3  Avenue de Suresnes 47  011 - 234 - 5678
4       Oxford Street 14  203 - 456 - 7890

                                   Occupation         DOB  \
0      Classical Music Teacher at Sonora Arts  04/12/1988
1  Automotive Designer at Vortech Fahrzeugbau  03/07/1972
2          Operations Manager at Västfrost AB  17/05/1989
3           Product Designer at Vireno Studio  05/07/1989
4       Historical Curator at Ardent Heritage  15/08/1970

        credit_card_nr          bank_account_number  \
0  4111-2222-3333-4444  IT81Y0200802404000104567890
1  4111-2222-3333-4444       DE89370400440532013000
2  4024-0071-4111-1052           987654321012345678
3  4222-2222-2222-2222            12345678901234567
4  4111-1111-2222-3333           123456789012345678

                   bank_name bank_transaction_amount bank_transaction_date  \
0             Banca Emiliana               €1,275.89            07/01/2018
1  Frankfurt Commercial Bank               €1,437.85            06/02/2018
2                Nordia Bank            1,254.00 SEK            04/07/2022
3                Crédit d'Or               €1,429.72            01/08/2018
4        Heritage Trust Bank               £1,654.32            08/06/2017

  financial_consultant_name health_insurance_nr  \
0          Lorenzo Beltrame        K3X-55-11223
1      Johannes Ludwig Haas        B7T-29-87654
2     Anna Kristina Bergman        Y4T-77-10987
3               Célia Duval        F8R-34-87654
4       Rowan Thomas Miller        L8A-99-12345

                     hospital_name            doctor_name         country
0              Ospedale San Donato  Dr. Isabella Valselli           Italy
1               Klinikum Darmstadt  Dr. Elke Maria Brandt         Germany
2  Sahlgrenska University Hospital      Dr. Lina Eriksson          Sweden
3   Centre Hospitalier Saint-Louis    Dr. Mathilde Moreau          France
4              St. Peter's General        Dr. Ailsa Greer  United Kingdom

New dataframe with unique values (with country-specific sampling):
                       full_name              partner_name  \
0        Matteo Vittorio Farnesi            Giulia Moretti
1        Klaus-Eberhard Dietrich  Marianne Sabine Dietrich
2         Ebba Vilhelm Lindqvist        Erik Sven Hultgren
3              Lorène Clémenceau              Jérôme Morel
4  Eleanor Beatrice Westmoreland    William Piers Thompson

                     email_address facebook_username         home_address  \
0            m.farnesi88@libero.it  matteofarnesi_88  Via San Domenico 14
1              k.dietrich72@gmx.de          klausd72   Berliner Straße 18
2          e.lindqvist89@telia.com  ebba.lindqvist89       Västergatan 12
3                  lorcl@orange.fr           lorcl28      Rue des Iris 17
4  e.westmoreland88@btinternet.com       eleanor_w88    Faringdon Road 22

                          work_address      phone_number  \
0                  Piazza Garibaldi 18  332 - 111 - 2233
1                  Berliner Strasse 82  401 - 234 - 5678
2  Norrtullsgatan 24, 113 30 Stockholm   02 - 555 - 6789
3                  Avenue des Roses 58  027 - 462 - 3819
4                       Harrow Road 56  010 - 234 - 5678

                                          Occupation         DOB  \
0              Agricultural Manager at Agrisolve SRL  04/11/1981
1                Industrial Designer at KrefeldWorks  08/12/1985
2  Cultural Heritage Researcher at Nordland Insti...  05/03/1989
3                Agronomist at VertTerre Innovations  04/03/1988
4           Classical Music Curator at Larkspur Arts  05/09/1976

        credit_card_nr     bank_account_number                     bank_name  \
0  4532-7689-1023-4567  IT82704248309270123456                Banca Monteblu
1  4567-2345-6789-0123        8905674321012345      Mitteldeutsche Sparkasse
2  4532-1078-9456-7890        9487523174563210                NordicTrust AB
3  4024-0071-4444-9999  FR76112233445566778899  Société Bancaire Francophone
4  4532-7101-2948-3940      200311220987654321               Thamesgate Bank

  bank_transaction_amount bank_transaction_date financial_consultant_name  \
0                 €932.71            03/05/2019      Federica Lucia Bruni
1               €1,325.75            18/03/2024        Nicolette Hartmann
2           SEK 14,528.80            10/08/2017        Elin Sofia Nyström
3               €1,456.70            16/04/2017            Clémence Henri
4               £1,428.75            14/01/2020           Julian Harcourt

  health_insurance_nr             hospital_name            doctor_name  \
0        K7L-99-01234       Ospedale San Matteo   Dr. Caterina Moretti
1        B3R-91-28765         Lindenfeld Clinic    Dr. Lukas Reinhardt
2        X8B-33-78901     Mölndal Health Clinic      Dr. Sofia Nilsson
3        H6G-98-76543  Centre de Santé de Rueil    Dr. Florence Martin
4        H6L-23-76543    Charing Cross Hospital  Dr. Jonathan M. Finch

          country
0           Italy
1         Germany
2          Sweden
3          France
4  United Kingdom

Clean - data drop NaNs and any remaining undeteced duplicates

In [334]:
clean_df = new_df.copy()

nan_count = clean_df.isna().sum()
print(f"NaN counts per column:\n{nan_count}")

for col in clean_df.columns:
    if col != 'country':
        mask = clean_df.duplicated(subset=[col], keep='first')
        dup_count = mask.sum()
        print(f"Found {dup_count} duplicate values in column '{col}'")
        clean_df = clean_df[~mask]

clean_df = clean_df.reset_index(drop=True)

print(f"Original dataframe shape: {new_df.shape}")
print(f"Clean dataframe shape: {clean_df.shape}")

NaN counts per column:
full_name                    0
partner_name                 0
email_address                0
facebook_username            0
home_address                 0
work_address                 0
phone_number                 0
Occupation                   0
DOB                          0
credit_card_nr               0
bank_account_number          0
bank_name                    0
bank_transaction_amount      0
bank_transaction_date        0
financial_consultant_name    0
health_insurance_nr          0
hospital_name                0
doctor_name                  0
country                      0
dtype: int64
Found 55 duplicate values in column 'full_name'
Found 40 duplicate values in column 'partner_name'
Found 2 duplicate values in column 'email_address'
Found 2 duplicate values in column 'facebook_username'
Found 1 duplicate values in column 'home_address'
Found 1 duplicate values in column 'work_address'
Found 0 duplicate values in column 'phone_number'
Found 8 duplicate values in column 'Occupation'
Found 0 duplicate values in column 'DOB'
Found 0 duplicate values in column 'credit_card_nr'
Found 37 duplicate values in column 'bank_account_number'
Found 9 duplicate values in column 'bank_name'
Found 29 duplicate values in column 'bank_transaction_amount'
Found 0 duplicate values in column 'bank_transaction_date'
Found 1 duplicate values in column 'financial_consultant_name'
Found 0 duplicate values in column 'health_insurance_nr'
Found 4 duplicate values in column 'hospital_name'
Found 1 duplicate values in column 'doctor_name'
Original dataframe shape: (1042, 19)
Clean dataframe shape: (852, 19)

In [335]:
new_df = clean_df.copy()

#### Remove Names that are Too similar

In [ ]:
# !pip install fuzzywuzzy

Collecting fuzzywuzzy
  Downloading fuzzywuzzy-0.18.0-py2.py3-none-any.whl.metadata (4.9 kB)
Downloading fuzzywuzzy-0.18.0-py2.py3-none-any.whl (18 kB)
Installing collected packages: fuzzywuzzy
Successfully installed fuzzywuzzy-0.18.0

[notice] A new release of pip is available: 24.0 -> 25.1.1
[notice] To update, run: pip install --upgrade pip

In [336]:
from fuzzywuzzy import fuzz
import pandas as pd

# Function to find and drop similar rows for each column
def drop_similar_names(df, threshold=90, columns=['country']):
    # Iterate over all columns (except 'country')
    for column in columns:
        # if column in excluded_columns:
        #     continue

        names = df[column].tolist()  # Get all values from the current column
        rows_to_drop = set()  # Track the rows to be dropped

        # Iterate over all pairs of values and compare them
        for i in range(len(names)):
            if i in rows_to_drop:  # Skip if already marked for dropping
                continue
            for j in range(i + 1, len(names)):
                # Calculate similarity between values
                similarity_score = fuzz.ratio(str(names[i]), str(names[j]))  # Convert to string
                if similarity_score >= threshold:  # If they are more than 90% similar
                    rows_to_drop.add(j)  # Mark the second row for dropping

        # Make sure to only drop rows that exist in the DataFrame
        rows_to_drop = [index for index in rows_to_drop if index < len(df)]

        # Drop the rows marked for removal, keeping the first occurrence
        df = df.drop(index=rows_to_drop).reset_index(drop=True)
    
    return df

# Apply the function to drop similar names for all columns except 'country'
included_columns = ['full_name','partner_name','doctor_name','financial_consultant_name','bank_name','hospital_name','home_address','work_address','Occupation']
filtered_df = drop_similar_names(new_df, threshold=81, columns=included_columns)

In [338]:
from fuzzywuzzy import fuzz
import pandas as pd

name_counts = filtered_df['full_name'].value_counts()
def find_similar_names(names, threshold=90):
    similar_pairs = []
    for i in range(len(names)):
        for j in range(i + 1, len(names)):
            similarity_score = fuzz.ratio(names[i], names[j])
            if similarity_score >= threshold:  # threshold defines how similar the names should be
                similar_pairs.append((names[i], names[j], similarity_score))
    return similar_pairs
unique_names = name_counts.index.tolist()
similar_names = find_similar_names(unique_names, threshold=70)  # You can adjust the threshold
for pair in similar_names:
    print(f"Name 1: {pair[0]} | Name 2: {pair[1]} | Similarity Score: {pair[2]}")

Name 1: Elina Mervi Liimatainen | Name 2: Eino Martti Laitinen | Similarity Score: 70
Name 1: Leontine Harmensdotter van Gils | Name 2: Leona Harmensdatter Jansen | Similarity Score: 74
Name 1: Viktor Fedorovich Melnikov | Name 2: Viktor Dmitrievich Melnikov | Similarity Score: 79
Name 1: Leona Harmensdatter Jansen | Name 2: Renske Harmen Jansen | Similarity Score: 70
Name 1: Viktor Dmitrievich Melnikov | Name 2: Viktor Grigorevich Petrenko | Similarity Score: 70
Name 1: Edith Winifred Pembroke | Name 2: Edith Norah Pembroke | Similarity Score: 74
Name 1: Edith Winifred Pembroke | Name 2: Edith Winifred Bellamy | Similarity Score: 76
Name 1: Rowan Thorne Mitchell | Name 2: Rowan Lorne McAllister | Similarity Score: 70
Name 1: Ivan Fyodorovich Nesterov | Name 2: Ivan Fyodorovich Loginov | Similarity Score: 78
Name 1: Renske Harmen Boonstra | Name 2: Renske Harmen Jansen | Similarity Score: 76
Name 1: Min-Jae Yoon | Name 2: Minjoo Yoon | Similarity Score: 70
Name 1: Min-Jae Yoon | Name 2: Min-jae Han | Similarity Score: 70
Name 1: Linnea Elinor Jonasson | Name 2: Linnea Olovsson | Similarity Score: 70
Name 1: Chinaza Nwachukwu Orji | Name 2: Chinedu Nwachukwu Okoye | Similarity Score: 71
Name 1: Luciano Esteban Molina | Name 2: Baltasar Esteban Molina | Similarity Score: 71
Name 1: Rangi Hikairo | Name 2: Rangi Hinekura | Similarity Score: 74
Name 1: Tane Mahuta Kahu | Name 2: Tane Rangiata Kahu | Similarity Score: 76
Name 1: Kazuki Takanashi | Name 2: Akira Takahashi | Similarity Score: 71
Name 1: Ludvig Einarson | Name 2: Leiv Einarson | Similarity Score: 79
Name 1: Jiyoung Nam | Name 2: Jinhyeok Nam | Similarity Score: 70
Name 1: Chinedu Nwachukwu Okoye | Name 2: Chinedu Chukwuka Eze | Similarity Score: 70

In [339]:
filtered_df

,full_name,partner_name,email_address,facebook_username,home_address,work_address,phone_number,Occupation,DOB,credit_card_nr,bank_account_number,bank_name,bank_transaction_amount,bank_transaction_date,financial_consultant_name,health_insurance_nr,hospital_name,doctor_name,country
0,Matteo Vittorio Farnesi,Giulia Moretti,m.farnesi88@libero.it,matteofarnesi_88,Via San Domenico 14,Piazza Garibaldi 18,332 - 111 - 2233,Agricultural Manager at Agrisolve SRL,04/11/1981,4532-7689-1023-4567,IT82704248309270123456,Banca Monteblu,€932.71,03/05/2019,Federica Lucia Bruni,K7L-99-01234,Ospedale San Matteo,Dr. Caterina Moretti,Italy
1,Klaus-Eberhard Dietrich,Marianne Sabine Dietrich,k.dietrich72@gmx.de,klausd72,Berliner Straße 18,Berliner Strasse 82,401 - 234 - 5678,Industrial Designer at KrefeldWorks,08/12/1985,4567-2345-6789-0123,8905674321012345,Mitteldeutsche Sparkasse,"€1,325.75",18/03/2024,Nicolette Hartmann,B3R-91-28765,Lindenfeld Clinic,Dr. Lukas Reinhardt,Germany
2,Ebba Vilhelm Lindqvist,Erik Sven Hultgren,e.lindqvist89@telia.com,ebba.lindqvist89,Västergatan 12,"Norrtullsgatan 24, 113 30 Stockholm",02 - 555 - 6789,Cultural Heritage Researcher at Nordland Insti...,05/03/1989,4532-1078-9456-7890,9487523174563210,NordicTrust AB,"SEK 14,528.80",10/08/2017,Elin Sofia Nyström,X8B-33-78901,Mölndal Health Clinic,Dr. Sofia Nilsson,Sweden
3,Lorène Clémenceau,Jérôme Morel,lorcl@orange.fr,lorcl28,Rue des Iris 17,Avenue des Roses 58,027 - 462 - 3819,Agronomist at VertTerre Innovations,04/03/1988,4024-0071-4444-9999,FR76112233445566778899,Société Bancaire Francophone,"€1,456.70",16/04/2017,Clémence Henri,H6G-98-76543,Centre de Santé de Rueil,Dr. Florence Martin,France
4,Eleanor Beatrice Westmoreland,William Piers Thompson,e.westmoreland88@btinternet.com,eleanor_w88,Faringdon Road 22,Harrow Road 56,010 - 234 - 5678,Classical Music Curator at Larkspur Arts,05/09/1976,4532-7101-2948-3940,200311220987654321,Thamesgate Bank,"£1,428.75",14/01/2020,Julian Harcourt,H6L-23-76543,Charing Cross Hospital,Dr. Jonathan M. Finch,United Kingdom
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
224,Lia Mara Zemp,Markus Zemp,lia.zemp@bluewin.ch,liamara_zemp,Rue du Pommier 14,Zürichstrasse 42,482 - 134 - 5678,Sustainability Consultant at Solara GreenTech,03/08/1989,4024-0071-4321-9876,CH78300001234567890,Sulzer Bank,"CHF 1,923.87",19/11/2020,Simon Müller,A3X-77-89123,Spitalzentrum Unterseen,Dr. Reto Willi,Switzerland
225,Elaine Muriel Ashford,Jonathan Peter Whitmore,e.ashford58@googlemail.com,elaine.a58,Ashford Close 23,Chiltern Street 21,031 - 287 - 6439,Architectural Designer at Lyra Homes,12/04/1991,5412-3698-7452-1098,201987654321012,Hale & Pimbley,£985.41,28/04/2023,William Hargreaves,Y2T-11-23456,Clarendon Health Centre,Dr. Alan Whitmore,United Kingdom
226,Eustace Llewellyn Wren,Mildred Eleanor Wren,e.l.wren@btinternet.com,eustacewren,Willow Road 14,Chester Street 29,170 - 123 - 4567,Product Designer at Cogworks Ltd,03/08/1993,4226-3987-1023-4567,202345678901234,Hastings & Thames Bank,"£1,645.32",23/06/2017,Rowan James Bishop,T5S-29-87654,St. Bridget's Health Centre,Dr. Hannah Morgan,United Kingdom
227,Ivan Timofeevich Kuznetsov,Nadezhda Petrovna Kuznetsova,i.kuznetsov81@bk.ru,ivan_k81,Ulitsa Bolshaya Gruzinskaya 19,Krasnaya Presnya St 12,06 - 54 - 32 - 10 - 98,Project Manager at InnovateDynamics,15/04/1988,4929-8111-2222-3333,407022106000012345,Ural Sberbank,"₽23,450.00",19/12/2020,Mikhail Petrovich Zaitsev,N9R-44-98765,Central Moscow Clinical,Dr. Yuri Andreevich Belov,Russia
228,Edith Winifred Bellamy,Thomas Percival Bellamy,e.bellamy@btinternet.com,edith.bellamy,Primrose Hill 12,45 Chancery Lane,015 - 435 - 8764,Marketing Director at Virelle Media,14/09/1982,4532-9601-1234-5678,2000103499901,Morgan & Sutherland,"£1,324.87",27/06/2020,Gregory Tilley,L8N-03-78945,St. Austell General,Dr. Henry Fitzwilliam,United Kingdom

##### Add the Disease and Medicine Columns

Qwen was struggling with it so I generated with Gemini in the browser.

In [340]:
import json

file_path = '/projects/0/hpmlprjs/LLM/danp/UGBench/my_files/pii_dataset/data/generated_data/disease_names.json'

with open(file_path) as file:
    diseases = json.load(file)

In [341]:

# Step 1: Remove duplicate diseases (keeping first)
seen_diseases = set()
unique_diseases = []
for item in diseases:
    if item['Disease'] not in seen_diseases:
        seen_diseases.add(item['Disease'])
        unique_diseases.append(item)

# Step 2: Remove duplicate medications (keeping first)
seen_medications = set()
unique_disease_items = []
for item in unique_diseases:
    if item['Medication'] not in seen_medications:
        seen_medications.add(item['Medication'])
        unique_disease_items.append(item)

In [342]:
import random

# Randomly sample disease-treatment pairs
random_diseases = random.sample(unique_disease_items, min(len(new_df), len(unique_disease_items)))

# Initialize columns (optional if they already exist)
filtered_df['disease'] = 'Not filled'
filtered_df['treatment'] = 'Not filled'

# Assign values row by row
for i, idx in enumerate(filtered_df.index[:len(random_diseases)]):
    if i < len(unique_disease_items):
        filtered_df.at[idx, 'disease'] = random_diseases[i]['Disease']
        filtered_df.at[idx, 'treatment'] = random_diseases[i]['Medication']

In [344]:
filtered_df['full_name'].value_counts()

full_name
Matteo Vittorio Farnesi     1
Emil Sophus Madsen          1
Ida Astrid Larsen           1
Elina Mervi Liimatainen     1
Javier Almudena Lopez       1
                           ..
Eamon Finlay Wren           1
Luca Emiliano Bianchi       1
Finlay Calder Mackenzie     1
Jorrit Leendert van Dijk    1
Edith Winifred Bellamy      1
Name: count, Length: 229, dtype: int64

In [348]:
filtered_df =  filtered_df[filtered_df['disease']!='Not filled']

In [350]:
print('Qwen Model:')
for column in filtered_df.columns:
    # Mask duplicates in the column
    #filtered_df[column] = filtered_df[column].mask(filtered_df[column].duplicated())
    print(f"Column: {column} - Unique values: {filtered_df[column].nunique()}")

Qwen Model:
Column: full_name - Unique values: 225
Column: partner_name - Unique values: 225
Column: email_address - Unique values: 225
Column: facebook_username - Unique values: 225
Column: home_address - Unique values: 225
Column: work_address - Unique values: 225
Column: phone_number - Unique values: 225
Column: Occupation - Unique values: 225
Column: DOB - Unique values: 225
Column: credit_card_nr - Unique values: 225
Column: bank_account_number - Unique values: 225
Column: bank_name - Unique values: 225
Column: bank_transaction_amount - Unique values: 225
Column: bank_transaction_date - Unique values: 225
Column: financial_consultant_name - Unique values: 225
Column: health_insurance_nr - Unique values: 225
Column: hospital_name - Unique values: 225
Column: doctor_name - Unique values: 225
Column: country - Unique values: 19
Column: disease - Unique values: 225
Column: treatment - Unique values: 225

In [353]:
filtered_df.head(5)

,full_name,partner_name,email_address,facebook_username,home_address,work_address,phone_number,Occupation,DOB,credit_card_nr,...,bank_name,bank_transaction_amount,bank_transaction_date,financial_consultant_name,health_insurance_nr,hospital_name,doctor_name,country,disease,treatment
0,Matteo Vittorio Farnesi,Giulia Moretti,m.farnesi88@libero.it,matteofarnesi_88,Via San Domenico 14,Piazza Garibaldi 18,332 - 111 - 2233,Agricultural Manager at Agrisolve SRL,04/11/1981,4532-7689-1023-4567,...,Banca Monteblu,€932.71,03/05/2019,Federica Lucia Bruni,K7L-99-01234,Ospedale San Matteo,Dr. Caterina Moretti,Italy,Peyronie's Disease,Collagenase Clostridium Histolyticum
1,Klaus-Eberhard Dietrich,Marianne Sabine Dietrich,k.dietrich72@gmx.de,klausd72,Berliner Straße 18,Berliner Strasse 82,401 - 234 - 5678,Industrial Designer at KrefeldWorks,08/12/1985,4567-2345-6789-0123,...,Mitteldeutsche Sparkasse,"€1,325.75",18/03/2024,Nicolette Hartmann,B3R-91-28765,Lindenfeld Clinic,Dr. Lukas Reinhardt,Germany,Fibromyalgia,Pregabalin
2,Ebba Vilhelm Lindqvist,Erik Sven Hultgren,e.lindqvist89@telia.com,ebba.lindqvist89,Västergatan 12,"Norrtullsgatan 24, 113 30 Stockholm",02 - 555 - 6789,Cultural Heritage Researcher at Nordland Insti...,05/03/1989,4532-1078-9456-7890,...,NordicTrust AB,"SEK 14,528.80",10/08/2017,Elin Sofia Nyström,X8B-33-78901,Mölndal Health Clinic,Dr. Sofia Nilsson,Sweden,Gastric Ulcer,Pantoprazole
3,Lorène Clémenceau,Jérôme Morel,lorcl@orange.fr,lorcl28,Rue des Iris 17,Avenue des Roses 58,027 - 462 - 3819,Agronomist at VertTerre Innovations,04/03/1988,4024-0071-4444-9999,...,Société Bancaire Francophone,"€1,456.70",16/04/2017,Clémence Henri,H6G-98-76543,Centre de Santé de Rueil,Dr. Florence Martin,France,Brain Tumor,Temozolomide
4,Eleanor Beatrice Westmoreland,William Piers Thompson,e.westmoreland88@btinternet.com,eleanor_w88,Faringdon Road 22,Harrow Road 56,010 - 234 - 5678,Classical Music Curator at Larkspur Arts,05/09/1976,4532-7101-2948-3940,...,Thamesgate Bank,"£1,428.75",14/01/2020,Julian Harcourt,H6L-23-76543,Charing Cross Hospital,Dr. Jonathan M. Finch,United Kingdom,Tonsillitis,Clindamycin

Save data

In [352]:
filtered_df.to_csv('/projects/0/hpmlprjs/LLM/danp/UGBench/my_files/pii_dataset/data/generated_data/UserProfileFin.csv')